header{
    padding: 10px;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;

}

header i{
    display: flex;
    font-size: 25px;
    color: white;
}

#borda{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    height: 6vh;
    width: 3vw;
    position: absolute;
    right: 160px;
    cursor: pointer;
}

#login{
    padding: 10px;
    display: flex;
    position: absolute;
    background-image: linear-gradient(to top, black,rgb(80, 80, 80));
    top: 50px;
    right: 65px;
    height: 25vh;
    width: 17vw;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    visibility: hidden;
}
#login form{
    display: flex;
    width: 15vw;
    flex-direction: column;
    color: white;
}
#login input{
    padding: 3px;
}
#login button{
    width: 15vw;
    background-color: aliceblue;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    transition: background-color 1s;
}
#login button:hover{
    background-color: rgb(206, 206, 206);
}
#login p{
    top: 117px;
    position: absolute;
    font-size: small;
    color: red;
    visibility: hidden;
}