header{
    display: flex;
    background-color: rgba(170, 170, 170, 0.582);
    height: 8vh;
    align-items: center;
}

header i{
    display: flex;
    font-size: 20px;
    border: 1px solid black;
    height: 5vh;
}
.fa-regular fa-user{
    display: flex;
    justify-content: center;
    align-items: center;
}